@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 10px 4px;
}

p span {
  background: rgb(220, 130, 169);
  border-radius: 50%;
  padding: 0 6px;
  color: white;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

input {
  flex: 1;
  outline: 0;
  border: 0;
  background: transparent;
  padding: 10px;
  font-size: 14px;
}

button {
  border: 0;
  outline: 0;
  background: rgb(53, 30, 122);
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
}

ul li {
  list-style: none;
  margin: 10px auto;
  font-size: 18px;
  padding: 12px 8px 12px 50px;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 12px;
  left: 8px;
  height: 28px;
  width: 28px;
  border-radius: 50%;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(images/checked.png);
}

ul li span {
  color: #555;
  font-size: 22px;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 5px;
  line-height: 1;
  text-align: center;
  border-radius: 50%;
  transition: all 200ms ease-in;
}

ul li span:hover {
  background: #edeef0;
}

.container {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  padding: 1.2rem;
  width: 500px;
  min-height: 250px;
  border-radius: 8px;
}

.add-todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  padding: 0.25rem;
  border-radius: 30px;
  margin: 10px auto;
}

.add-btn {
  flex: 0.25;
  padding: 10px;
}

.clear-btn {
  width: 60%;
  display: block;
  padding: 12px;
  margin: 2.5rem auto;
}

.todo-footer {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 575px) {
  h1 {
    font-size: 28px;
  }

  p {
    font-size: 14px;
  }

  .container {
    width: 420px;
  }
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  button {
    font-size: 14px;
    letter-spacing: 1px;
  }

  ul li span {
    font-size: 16px;
  }

  ul li {
    font-size: 14px;
    padding: 10px 8px 4px 35px;
  }

  ul li::before {
    height: 20px;
    width: 20px;
  }

  .container {
    width: 350px;
  }

  .clear-btn {
    width: 80%;
    margin: 1.2rem auto;
  }
}

@media (max-width: 393px) {
  h1 {
    margin: 4px;
  }

  ul li::before {
    height: 18px;
    width: 18px;
  }

  ul li span {
    width: 10px;
    height: 10px;
  }

  input {
    padding: 8px;
    font-size: 12px;
  }

  .container {
    width: 320px;
    padding: 1rem;
  }

  .clear-btn {
    margin: 0.6rem auto;
  }
}
