@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 10px 4px;
}

p span {
  background: red;
  border-radius: 50%;
  padding: 1px 6px;
  color: white;
}

input {
  flex: 1;
  outline: 0;
  border: 0;
  background: transparent;
  padding: 10px;
  font-size: 14px;
}

button {
  border: 0;
  outline: 0;
  background: rgb(53, 30, 122);
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
}

ul li {
  list-style: none;
  margin: 10px auto;
  font-size: 18px;
  padding: 12px 8px 12px 50px;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 12px;
  left: 8px;
  height: 28px;
  width: 28px;
  border-radius: 50%;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(images/checked.png);
}

ul li span {
  color: #555;
  font-size: 22px;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 5px;
  line-height: 1;
  text-align: center;
  border-radius: 50%;
  transition: all 200ms ease-in;
}

ul li span:hover {
  background: #edeef0;
}

.container {
  background: rgba(0, 0, 0, 0.15);
  padding: 1.2rem;
  width: 600px;
  min-height: 400px;
  border-radius: 8px;
}

.add-todo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  padding: 0.25rem;
  border-radius: 30px;
  margin: 10px auto;
}

.add-btn {
  flex: 0.25;
  padding: 10px;
}

.clear-btn {
  width: 60%;
  display: block;
  padding: 12px;
  margin: 14px auto;
}
